<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Argus.commands.category"
            name="Argus Category">
      </category>
      <command
            categoryId="Argus.commands.category"
            name="Argus Command"
            id="Argus.commands.argusCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
	         class="argus.ArgusApp.ArgusApp"
	         commandId="Argus.commands.argusCommand">
	   </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Argus.commands.argusCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="Argus.menus.sampleMenu"
               label="Argus Menu"
               mnemonic="A">
            <command
                  commandId="Argus.commands.argusCommand"
                  id="Argus.menus.sampleCommand"
                  mnemonic="R">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Argus.toolbars.sampleToolbar">
            <command
                  id="Argus.toolbars.sampleCommand"
                  commandId="Argus.commands.argusCommand"
                  icon="icons/Argus_Mascote_20250825_2025.png"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
